flask==3.1.0
gunicorn==23.0.0
google-cloud-bigquery==3.27.0
psycopg2-binary==2.9.10
pydantic==2.11.1
pydantic-settings==2.7.0
python-dotenv==1.0.1
python-dateutil==2.9.0
pandas==3.0.2
pyYAML==6.0.3
structlog==25.5.0